[Unit]
Description=Start button

[Service]
Type=simple
ExecStart=python3 /home/pi/button/button.py --direct http://192.168.1.10:8000/buttonsA
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
